html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300; }

p {
  font-size: 13px;
  line-height: 1.75;
  color: #464646; }

a {
  color: #464646;
  outline: none; }
  a.active, a:active, a:focus, a:hover {
    color: #2d2d2d;
    outline: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #141414;
  font-weight: 600;
  letter-spacing: 1px; }

button, .panel-projects a, .panel-clients a {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  display: inline-block;
  background: #141414;
  padding: 15px 30px;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  transition: linear .2s; }
  button:active, .panel-projects a:active, .panel-clients a:active, button:focus, .panel-projects a:focus, .panel-clients a:focus, button:hover, .panel-projects a:hover, .panel-clients a:hover {
    background: #333333;
    text-decoration: none; }

.black-filter {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%; }

.white-filter {
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%; }

.vertical-container {
  display: table;
  width: 100%;
  height: 100%; }

.vertical-body {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%; }

.btn-primary {
  color: white;
  background-color: #141414;
  border-color: #141414;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase; }
  .btn-primary.active, .btn-primary:active, .btn-primary:focus, .btn-primary:hover,
  .open .dropdown-toggle.btn-primary {
    color: white;
    background-color: black;
    border-color: black; }
  .btn-primary.active, .btn-primary:active,
  .open .dropdown-toggle.btn-primary {
    background-image: none; }
  .btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover,
  fieldset[disabled] .btn-primary,
  fieldset[disabled] .btn-primary.active,
  fieldset[disabled] .btn-primary:active,
  fieldset[disabled] .btn-primary:focus,
  fieldset[disabled] .btn-primary:hover {
    background-color: #141414;
    border-color: #141414; }
  .btn-primary .badge {
    color: #141414;
    background-color: white; }

.btn-xl {
  color: white;
  background-color: #141414;
  border-color: #141414;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px; }
  .btn-xl.active, .btn-xl:active, .btn-xl:focus, .btn-xl:hover,
  .open .dropdown-toggle.btn-xl {
    color: white;
    background-color: black;
    border-color: black; }
  .btn-xl.active, .btn-xl:active,
  .open .dropdown-toggle.btn-xl {
    background-image: none; }
  .btn-xl.disabled, .btn-xl.disabled.active, .btn-xl.disabled:active, .btn-xl.disabled:focus, .btn-xl.disabled:hover, .btn-xl[disabled], .btn-xl[disabled].active, .btn-xl[disabled]:active, .btn-xl[disabled]:focus, .btn-xl[disabled]:hover,
  fieldset[disabled] .btn-xl,
  fieldset[disabled] .btn-xl.active,
  fieldset[disabled] .btn-xl:active,
  fieldset[disabled] .btn-xl:focus,
  fieldset[disabled] .btn-xl:hover {
    background-color: #141414;
    border-color: #141414; }
  .btn-xl .badge {
    color: #141414;
    background-color: white; }

header {
  position: relative;
  background: #000 url("../images/header-bg.jpg") no-repeat scroll center center;
  background-size: cover;
  width: 100%;
  height: 100%; }
  header .contact-icons {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%, 0); }

.header-filter {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%; }

.header-content {
  text-align: center; }
  .header-content img.profile-image {
    width: 240px;
    height: 240px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%; }
  .header-content h1 {
    color: #fff;
    margin: 20px 0 0 0;
    font-size: 24px;
    letter-spacing: 2px; }
  .header-content h2 {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1px; }

section {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%; }
  section::after {
    clear: both;
    content: "";
    display: block; }

.panel-experience {
  float: left;
  display: block;
  margin-right: 0%;
  width: 50%;
  height: 100%;
  padding: 80px 60px;
  background-color: white; }
  .panel-experience:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .panel-experience {
      float: left;
      display: block;
      margin-right: 0%;
      width: 100%; }
      .panel-experience:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 768px) {
    .panel-experience {
      height: auto; } }
  .panel-experience h1 {
    margin: 0 0 45px;
    font-size: 20px; }
    .panel-experience h1::after {
      content: '';
      display: block;
      background: #141414;
      height: 1px;
      margin-top: 3px; }

.panel-skills {
  float: left;
  display: block;
  margin-right: 0%;
  width: 50%;
  height: 100%;
  background: #000 url("../images/skills-bg.jpg") no-repeat;
  background-size: cover; }
  .panel-skills:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .panel-skills {
      float: left;
      display: block;
      margin-right: 0%;
      width: 100%; }
      .panel-skills:last-child {
        margin-right: 0; } }
  .panel-skills .skill-bar {
    float: left;
    display: block;
    margin-right: 0%;
    width: 33.33333%;
    position: relative;
    text-align: center; }
    .panel-skills .skill-bar:last-child {
      margin-right: 0; }
    @media screen and (max-width: 480px) {
      .panel-skills .skill-bar {
        float: left;
        display: block;
        margin-right: 0%;
        width: 100%; }
        .panel-skills .skill-bar:last-child {
          margin-right: 0; } }
    .panel-skills .skill-bar h4 {
      color: #fff;
      font-weight: 400;
      font-size: 16px; }
      @media screen and (max-width: 480px) {
        .panel-skills .skill-bar h4 {
          margin-bottom: 35px; } }

.panel-services {
  float: right;
  display: block;
  margin-left: 0%;
  width: 50%;
  height: 100%;
  padding: 80px 60px;
  background-color: white; }
  .panel-services:last-child {
    margin-left: 0; }
  @media screen and (max-width: 768px) {
    .panel-services {
      float: right;
      display: block;
      margin-left: 0%;
      width: 100%; }
      .panel-services:last-child {
        margin-left: 0; } }
  @media screen and (max-width: 768px) {
    .panel-services {
      height: auto; } }
  .panel-services h1 {
    margin: 0 0 45px;
    font-size: 20px; }
    .panel-services h1::after {
      content: '';
      display: block;
      background: #141414;
      height: 1px;
      margin-top: 3px; }

.panel-projects {
  float: right;
  display: block;
  margin-left: 0%;
  width: 50%;
  height: 100%;
  background: #000 url("../images/projects-bg.jpg") no-repeat;
  background-size: cover;
  text-align: center; }
  .panel-projects:last-child {
    margin-left: 0; }
  @media screen and (max-width: 768px) {
    .panel-projects {
      float: right;
      display: block;
      margin-left: 0%;
      width: 100%; }
      .panel-projects:last-child {
        margin-left: 0; } }

.panel-portfolio {
  float: left;
  display: block;
  margin-right: 0%;
  width: 50%;
  height: 100%;
  padding: 80px 60px;
  background-color: white; }
  .panel-portfolio:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .panel-portfolio {
      float: left;
      display: block;
      margin-right: 0%;
      width: 100%; }
      .panel-portfolio:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 768px) {
    .panel-portfolio {
      height: auto; } }
  .panel-portfolio h1 {
    margin: 0 0 45px;
    font-size: 20px; }
    .panel-portfolio h1::after {
      content: '';
      display: block;
      background: #141414;
      height: 1px;
      margin-top: 3px; }

.panel-clients {
  float: left;
  display: block;
  margin-right: 0%;
  width: 50%;
  height: 100%;
  background: #000 url("../images/clients-bg.jpg") no-repeat;
  background-size: cover;
  text-align: center; }
  .panel-clients:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .panel-clients {
      float: left;
      display: block;
      margin-right: 0%;
      width: 100%; }
      .panel-clients:last-child {
        margin-right: 0; } }

.panel-contact {
  float: right;
  display: block;
  margin-left: 0%;
  width: 50%;
  height: 100%;
  padding: 80px 60px;
  background-color: white; }
  .panel-contact:last-child {
    margin-left: 0; }
  @media screen and (max-width: 768px) {
    .panel-contact {
      float: right;
      display: block;
      margin-left: 0%;
      width: 100%; }
      .panel-contact:last-child {
        margin-left: 0; } }
  @media screen and (max-width: 768px) {
    .panel-contact {
      height: auto; } }
  .panel-contact h1 {
    margin: 0 0 45px;
    font-size: 20px; }
    .panel-contact h1::after {
      content: '';
      display: block;
      background: #141414;
      height: 1px;
      margin-top: 3px; }

.panel-map {
  float: right;
  display: block;
  margin-left: 0%;
  width: 50%;
  height: 100%;
  background: #000 url("../images/map.png") no-repeat scroll center center;
  background-size: cover; }
  .panel-map:last-child {
    margin-left: 0; }
  @media screen and (max-width: 768px) {
    .panel-map {
      float: right;
      display: block;
      margin-left: 0%;
      width: 100%; }
      .panel-map:last-child {
        margin-left: 0; } }

ul.list-resume {
  padding: 0;
  list-style: none; }
  ul.list-resume > li .resume-year {
    float: left;
    display: block;
    margin-right: 0%;
    width: 25%;
    padding: 0 20px;
    text-align: center; }
    ul.list-resume > li .resume-year:last-child {
      margin-right: 0; }
    @media screen and (max-width: 768px) {
      ul.list-resume > li .resume-year {
        float: left;
        display: block;
        margin-right: 0%;
        width: 100%; }
        ul.list-resume > li .resume-year:last-child {
          margin-right: 0; } }
    ul.list-resume > li .resume-year h3 {
      font-size: 13px; }
    ul.list-resume > li .resume-year em {
      font-size: 13px;
      font-weight: 400;
      font-style: italic;
      color: #b4b4b4; }
  ul.list-resume > li .resume-body {
    float: left;
    display: block;
    margin-right: 0%;
    width: 75%;
    margin-bottom: 25px; }
    ul.list-resume > li .resume-body:last-child {
      margin-right: 0; }
    @media screen and (max-width: 768px) {
      ul.list-resume > li .resume-body {
        float: left;
        display: block;
        margin-right: 0%;
        width: 100%; }
        ul.list-resume > li .resume-body:last-child {
          margin-right: 0; } }
    ul.list-resume > li .resume-body h2 {
      font-size: 13px; }
    ul.list-resume > li .resume-body ul {
      padding-left: 20px; }
      ul.list-resume > li .resume-body ul li {
        font-size: 13px;
        line-height: 1.75;
        color: #464646; }

ul.list-services {
  padding: 0;
  list-style: none; }
  ul.list-services li {
    float: left;
    display: block;
    margin-right: 0%;
    width: 50%;
    padding-bottom: 50px; }
    ul.list-services li:last-child {
      margin-right: 0; }
    @media screen and (max-width: 1200px) {
      ul.list-services li {
        float: left;
        display: block;
        margin-right: 0%;
        width: 100%; }
        ul.list-services li:last-child {
          margin-right: 0; } }
    ul.list-services li .service-icon {
      float: left;
      width: 50px;
      height: 50px;
      border: 1px solid #dcdcdc;
      border-radius: 50%;
      text-align: center; }
      ul.list-services li .service-icon i {
        color: #141414;
        font-size: 18px;
        line-height: 50px; }
    ul.list-services li .service-description {
      padding-left: 70px; }
      ul.list-services li .service-description h2 {
        font-size: 13px;
        margin-top: 0;
        margin-bottom: 5px; }
      ul.list-services li .service-description p {
        margin: 0; }

.contact-icons ul {
  padding: 0; }
  .contact-icons ul li {
    display: inline-block;
    padding-right: 10px; }
    .contact-icons ul li a {
      position: relative;
      display: block;
      width: 30px;
      height: 30px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      color: rgba(255, 255, 255, 0.3);
      text-align: center;
      transition: linear .2s; }
      .contact-icons ul li a.active, .contact-icons ul li a:active, .contact-icons ul li a:focus, .contact-icons ul li a:hover {
        color: #fff;
        border-color: #fff; }
      .contact-icons ul li a i {
        font-size: 14px;
        line-height: 30px; }

footer {
  background-color: #141414;
  color: white;
  padding: 40px;
  text-align: center; }
  footer .copyright {
    text-align: center;
    font-size: 13px; }

.btn.active,
.btn:active,
.btn:active:focus,
.btn:focus {
  outline: none; }

::-moz-selection {
  text-shadow: none;
  background: #b4b4b4; }

::selection {
  text-shadow: none;
  background: #b4b4b4; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

body {
  -webkit-tap-highlight-color: #b4b4b4; }
